.gitignore
currenteventstokg/analytics/
currenteventstokg/cache*/
currenteventstokg/dataset*/
currenteventstokg/diagrams/
currenteventstokg/logs*/
currenteventstokg/maps/
currenteventstokg/resources/
currenteventstokg/visualization/
.vscode/
*__pycache__/